/* COLORES */
/* LETRAS */
.buttom__color {
  background-color: #650909;
  color: #dfd1be; }

* {
  margin: 0px;
  padding: 0px; }

main {
  background-color: beige; }

h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 50px;
  color: #9b0909;
  padding: 10px 0px 0px 0px; }

h2 {
  font-family: "Oswald", sans-serif;
  color: #9b0909;
  margin: 0px 10px;
  font-size: 20px; }

p {
  font-family: "Roboto", sans-serif;
  margin: 0px 10px; }

span {
  font-family: "Roboto", sans-serif; }

label {
  font-family: "Oswald", sans-serif;
  font-size: 20px; }

/* FOOTER */
footer {
  background-color: #650909;
  color: #dfd1be;
  padding: 15px 5px;
  display: flex;
  margin-top: 20px;
  bottom: auto; }
  footer .footer__texto {
    flex-grow: 1; }
  footer .footer__icono {
    height: 20px;
    justify-content: flex-end;
    margin-right: 16px; }
    footer .footer__icono:hover {
      transform: scale(0.95, 0.95);
      transition: all 0.3s; }

.nav__color {
  color: #9b0909;
  font-family: "Oswald", sans-serif;
  font-size: 16px; }
  .nav__color:hover {
    color: #650909;
    transform: scale(0.95, 0.95);
    transition: all 0.3s; }

.nav__fondo {
  background-color: #dfd1be; }

.nav__logo {
  width: 26px;
  height: 26px; }

.navbar-toggler-border-color {
  color: #dfd1be; }

.principal {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 15% 50% 35%;
  grid-template-areas: "titulo foto" "texto foto" "extra foto";
  gap: 5px; }
  .principal__titulo {
    grid-column: 1/2;
    grid-row: 1/2; }
  .principal__foto {
    grid-column: 2/3;
    grid-row: 1/4;
    background-image: url("../resources/foto-principal.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px; }
  .principal__texto {
    padding-bottom: 50px;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3; }

.extra {
  background-color: #650909;
  display: flex;
  grid-column: 1/2;
  grid-row: 3/4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  .extra__texto {
    color: #dfd1be;
    align-self: center; }
  .extra__imagen {
    width: 195px;
    height: 195px;
    align-self: center;
    margin-left: 5px;
    border-radius: 5px; }

.album {
  display: grid;
  grid-template-areas: "evermore folklore lover" "reputation nineteen red" "speak-now fearless debut";
  row-gap: 30px;
  /* GRID */ }
  .album__foto {
    width: 150px;
    height: 150px;
    margin-left: 10px; }
  .album__cancion {
    font-family: "Roboto", sans-serif;
    font-size: 14px; }
  .album__flex {
    display: flex; }
  .album__evermore {
    grid-area: evermore; }
  .album__folklore {
    grid-area: folklore; }
  .album__lover {
    grid-area: lover; }
  .album__reputation {
    grid-area: reputation; }
  .album__nineteen {
    grid-area: nineteen; }
  .album__red {
    grid-area: red; }
  .album__speak-now {
    grid-area: speak-now; }
  .album__fearless {
    grid-area: fearless; }
  .album__debut {
    grid-area: debut; }

.recordings {
  margin: 20px; }
  .recordings__flex {
    display: flex; }
  .recordings__foto {
    width: 150px;
    height: 150px;
    margin-left: 10px; }
  .recordings__cancion {
    font-family: "Roboto", sans-serif;
    margin-left: 25px; }

.informacion__parrafo {
  font-size: 20px; }

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 200px 200px 200px 200px 200px;
  gap: 5px; }
  .galeria__titulo {
    grid-column: 1/4;
    grid-row: 1/2; }

.diploma {
  grid-column: 1/2;
  grid-row: 2/4;
  background-image: url("../resources/diploma.jpg");
  background-size: cover;
  background-position: center; }

.atw {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url("../resources/atw.jpg");
  background-size: cover;
  background-position: center; }

.concierto {
  grid-column: 3/4;
  grid-row: 2/4;
  background-image: url("../resources/concierto.jpg");
  background-size: cover;
  background-position: center; }

.concierto-dos {
  grid-column: 1/2;
  grid-row: 4/7;
  background-image: url("../resources/concierto-dos.jpg");
  background-size: cover;
  background-position: center; }

.grammy {
  grid-column: 2/3;
  grid-row: 3/5;
  background-image: url("../resources/grammy.jpg");
  background-size: cover;
  background-position: center; }

.concierto-tres {
  grid-column: 3/4;
  grid-row: 4/6;
  background-image: url("../resources/concierto-tres.jpeg");
  background-size: cover;
  background-position: center; }

.grammy-dos {
  grid-column: 2/3;
  grid-row: 5/7;
  background-image: url("../resources/grammy-dos.jpg");
  background-size: cover;
  background-position: center; }

/* TABLET */
@media (min-width: 575px) and (max-width: 992px) {
  /* MAIN */
  h1 {
    font-size: 30px; }
  p {
    font-size: 16px; }
  /* INDEX */
  .principal {
    grid-template-areas: "titulo foto" "texto foto" "extra extra"; }
    .principal__titulo {
      grid-column: 1/2;
      grid-row: 1/2; }
    .principal__foto {
      grid-column: 2/3;
      grid-row: 1/3; }
    .principal__texto {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 20px; }
  .extra {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 15px; }
  /* ALBUMS */
  .album {
    grid-template-areas: "evermore folklore"  "lover reputation"  "nineteen red" "speak-now fearless"  "debut none";
    row-gap: 16px; }
  /* RE-RECORDINGS */
  .informacion__parrafo {
    font-size: 16px;
    text-align: center; }
  .recordings__cancion {
    margin-left: 20px; }
  /* CONTACTO */
  .info__parrafo {
    text-align: center; } }

/* CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  /* MAIN */
  h1 {
    font-size: 30px; }
  p {
    font-size: 16px; }
  /* INDEX */
  .principal {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .principal__titulo {
      grid-column: 1/2;
      grid-row: 1/2; }
    .principal__foto {
      display: none; }
    .principal__texto {
      font-size: 16px;
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
      margin: 0px 16px; }
  .extra {
    grid-column: 1/2;
    grid-row: 3/4; }
  /* GALERIA */
  .galeria {
    height: 300vh;
    grid-template-columns: 1fr;
    grid-template-rows: 40px repeat(7, 1fr);
    gap: 2px; }
    .galeria__titulo {
      grid-column: 1/2;
      grid-row: 1/2; }
  .diploma {
    grid-column: 1/2;
    grid-row: 2/3; }
  .atw {
    grid-column: 1/2;
    grid-row: 3/4; }
  .concierto {
    grid-column: 1/2;
    grid-row: 4/5; }
  .concierto-dos {
    grid-column: 1/2;
    grid-row: 5/6;
    background-position: top; }
  .grammy {
    grid-column: 1/2;
    grid-row: 6/7; }
  .concierto-tres {
    grid-column: 1/2;
    grid-row: 7/8; }
  .grammy-dos {
    grid-column: 1/2;
    grid-row: 8/9; }
  /* ALBUMS */
  .album {
    grid-template-areas: "evermore" "folklore"  "lover" "reputation"  "nineteen"  "red" "speak-now"  "fearless"  "debut";
    row-gap: 16px;
    justify-content: center; }
  /* RE-RECORDINGS */
  .recordings__cancion {
    margin-left: 20px; }
  .informacion__parrafo {
    font-size: 16px;
    text-align: center; }
  /* CONTACTO */
  .info__parrafo {
    text-align: center; } }
