
/* TABLET */
@media (min-width: 575px) and (max-width: 992px){

    /* INDEX */
    .principal{
        grid-template-areas: "titulo foto"
                            "texto foto"
                            "extra extra";

        &__titulo{
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__foto{
            grid-column: 2/3;
            grid-row: 1/3;
        }

        &__texto{
            grid-column: 1/2;
            grid-row: 2/3;
            margin-bottom: 20px;
        }

    }

    .extra{
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 15px;
    }

        /* ALBUMS */
    .album{
        grid-template-areas: 
                        "evermore folklore" 
                        "lover reputation" 
                        "nineteen red"
                        "speak-now fearless" 
                        "debut none";
        row-gap: 16px;
    }

    /* RE-RECORDINGS */

    .informacion__parrafo{
        font-size: $size-parrafos;
        text-align: center;
    }

    .recordings__cancion{
        margin-left: 20px;
    }

    /* CONTACTO */
    .info__parrafo{
        text-align: center;
    }
}
