
@import "utilities/variables";

@import "components/buttoms";

@import "layout/tags";
@import "layout/footer";
/* @import "layout/mediaqueries"; */
@import "layout/nav";

@import "pages/index";
@import "pages/album";
@import "pages/re-recordings";
@import "pages/galeria";


/* CELULAR*/
@media (min-width: 320px) and (max-width: 575px){

    /* MAIN */
    h1{
        font-size: 30px;
    }

    p{
        font-size: 16px;
    }

    /* HEADER */
    .header__nav {
        flex-direction: column;
    }
    
    .header__logo{
        margin-left: 16px;
        align-self: center;
    }
    .header__lista{
        flex-direction: column;
        margin-left: 16px;
        align-items: center;
    }

    /* INDEX */
    .principal{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .principal__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .principal__foto{
        display: none;
    }
    
    .principal__texto{
        font-size: 16px;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        margin: 0px 16px;
    }
    
    .extra{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /* GALERIA */
    .galeria{
        height: 300vh;
        grid-template-columns: 1fr;
        grid-template-rows: 40px repeat(7, 1fr);
        gap: 2px
    }
    
    .galeria__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .diploma{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .atw{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .concierto{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .concierto-dos{
        grid-column: 1/2;
        grid-row: 5/6;
        background-position: top;
    }
    
    .grammy{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .concierto-tres{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    
    .grammy-dos{
        grid-column: 1/2;
        grid-row: 8/9;
    }

    /* ALBUMS */
    .album{
        grid-template-areas: "evermore"
                            "folklore" 
                            "lover"
                            "reputation" 
                            "nineteen" 
                            "red"
                            "speak-now" 
                            "fearless" 
                            "debut";
        row-gap: 16px;
        justify-content: center;
    }
    
    /* RE-RECORDINGS */
    .re-recordings{
        flex-direction: column;
        align-items: center;
    }

    .recordings__flex{
        flex-direction: column;
    }


    .informacion__parrafo{
        font-size: 16px;
        text-align: center;
    }

    .recordings__cancion{
        margin-left: 20px;
    }

    /* CONTACTO */
    .info__parrafo{
        text-align: center;
    }

    .formulario__boton{
        display: flex;
        flex-direction: column;
    }
}

/* TABLET */

@media (min-width: 575px) and (max-width: 992px){
    /* MAIN */
    h1{
        font-size: 30px;
    }

    p{
        font-size: 16px;
    }

    /* HEADER */
    .header__nav {
        flex-direction: column;
    }
    
    .header__logo{
        margin-left: 16px;
        align-self: center;
    }
    .header__lista{
        flex-direction: column;
        margin-left: 16px;
        align-items: center;
    }

    /* INDEX */
    .principal{
        grid-template-areas: "titulo foto"
                            "texto foto"
                            "extra extra";
    }

    .principal__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .principal__foto{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .principal__texto{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-bottom: 20px;
    }

    .extra{
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 15px;
    }

        /* ALBUMS */
    .album{
        grid-template-areas: 
                        "evermore folklore" 
                        "lover reputation" 
                        "nineteen red"
                        "speak-now fearless" 
                        "debut none";
        row-gap: 16px;
    }

    /* RE-RECORDINGS */
    .re-recordings{
        flex-direction: column;
        align-items: center;
    }


    .informacion__parrafo{
        font-size: 16px;
        text-align: center;
    }

    .recordings__cancion{
        margin-left: 20px;
    }

    /* CONTACTO */
    .info__parrafo{
        text-align: center;
    }
    
}
