.album{
    display: grid;
    grid-template-areas: 
        "evermore folklore lover"
        "reputation nineteen red"
        "speak-now fearless debut";
    row-gap: 30px;


    &__foto{
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }
    
    &__cancion{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    
    &__flex{
        display: flex;
    }
    
    /* GRID */
    &__evermore{
        grid-area: evermore;
    }
    
    &__folklore{
        grid-area: folklore;
    }
    
    &__lover{
        grid-area: lover;
    }
    
    &__reputation{
        grid-area: reputation;
    }

    &__nineteen{
        grid-area: nineteen;
    }

    &__red{
        grid-area: red;
    }

    &__speak-now{
        grid-area: speak-now;
    }

    &__fearless{
        grid-area: fearless;
    }

    &__debut{
        grid-area: debut;
    }
}
