
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 200px 200px 200px 200px 200px;
    gap: 5px;

    &__titulo{
        grid-column: 1/4;
        grid-row: 1/2;
    }
}

.diploma{
    grid-column: 1/2;
    grid-row: 2/4;
    background-image: url("../resources/diploma.jpg");
    @extend .imagenes-grid
}

.atw{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../resources/atw.jpg");
    @extend .imagenes-grid
}

.concierto{
    grid-column: 3/4;
    grid-row: 2/4;
    background-image: url("../resources/concierto.jpg");
    @extend .imagenes-grid
}

.concierto-dos{
    grid-column: 1/2;
    grid-row: 4/7;
    background-image: url("../resources/concierto-dos.jpg");
    @extend .imagenes-grid
}

.grammy{
    grid-column: 2/3;
    grid-row: 3/5;
    background-image: url("../resources/grammy.jpg");
    @extend .imagenes-grid
}

.concierto-tres{
    grid-column: 3/4;
    grid-row: 4/6;
    background-image: url("../resources/concierto-tres.jpeg");
    @extend .imagenes-grid
}

.grammy-dos{
    grid-column: 2/3;
    grid-row: 5/7;
    background-image: url("../resources/grammy-dos.jpg");
    @extend .imagenes-grid
}