
/* COLORES */
$color-oscuro: rgb(101, 9, 9);
$color-claro: rgb(223, 209, 190);
$color-fondo: beige;
$color-titulos: rgb(155, 9, 9);
$color-default: rgb(24, 24, 24);

/* LETRAS */
$parrafos: 'Roboto', sans-serif;
$titulos: 'Bebas Neue',cursive;
$titulos-secudarios: 'Oswald', sans-serif;

$size-titulos: 3.125rem;
$size-parrafos: 1.25rem;
$size-normal: 1rem;