
/* FOOTER */
footer{
    background-color: $color-oscuro;
    color: $color-claro;
    padding: 15px 5px;
    display: flex;
    bottom: auto;
    border-top: 20px solid $color-fondo;

    .footer{

        &__texto{
            flex-grow: 1;
        }
        
        &__icono{
            height: 20px;
            justify-content: flex-end;
            margin-right: 16px;
            &:hover{
            transform: scale(0.95,0.95);
            transition: all 0.3s;
            }
        }
    }
}

