
.nav{
    &__color{
        color: $color-titulos;
        font-family:$titulos-secudarios;
        font-size: 16px;
        &:hover{
            color: $color-oscuro;
            transform: scale(0.95,0.95);
            transition: all 0.3s;
        }
    }

    &__fondo{
        background-color: $color-claro;
    }

    &__logo{
        width: 26px;
        height: 26px;
    }
}

.navbar-toggler-border-color{
    color: $color-claro;
}