
*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: beige;
}

h1{
    text-align: center;
    @include font ($titulos, $size-titulos, $color-titulos)
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

h2{
    @include font ($titulos-secudarios, $size-parrafos, $color-titulos)
    margin: 0px 10px;
}

p{
    font-family: $parrafos;
    margin: 0px 10px
}

span{
    font-family: $parrafos;
}

label{
    @include font ($titulos-secudarios, $size-parrafos, $color-claro)
}